# Latihan Tugas CDP BI Engineer

In [2]:
import pandas as pd

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.13.2)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (2.0.21)
Requirement already satisfied: sqlparse in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.0)
Requirement already satisfied: backcall in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\adelia\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
%load_ext sql

In [8]:
df.info

<bound method DataFrame.info of       Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          3  CA-2016-138688   6/12/2016   6/16/2016    Second Class
1          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
2          5  US-2015-108966  10/11/2015  10/18/2015  Standard Class
3          6  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
4          7  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
9989       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class
9990       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class
9991    5492  CA-2017-164098   1/26/2017   1/27/2017     First Class
9992    6878  US-2015-123918  10/15/2015  10/15/2015        Same Day
9993    6879  US-2015-123918  10/15/2015  10/15/2015        Same Day

     Customer ID        Country             City       State  Postal Code  \
0       DV-13045  United States      Los Angeles  California        90036
1       SO-20335  United States  Fort Lauderdale     Florida        33311
2       SO-20335  United States  Fort Lauderdale     Florida        33311
3       BH-11710  United States      Los Angeles  California        90032
4       BH-11710  United States      Los Angeles  California        90032
...          ...            ...              ...         ...          ...
9989    CG-12520  United States        Henderson    Kentucky        42420
9990    CG-12520  United States        Henderson    Kentucky        42420
9991    CG-12520  United States          Houston       Texas        77070
9992    CG-12520  United States           Dallas       Texas        75217
9993    CG-12520  United States           Dallas       Texas        75217

       Region       Product ID     Sales  Quantity  Discount    Profit
0        West  OFF-LA-10000240   14.6200         2      0.00    6.8714
1       South  FUR-TA-10000577  957.5775         5      0.45 -383.0310
2       South  OFF-ST-10000760   22.3680         2      0.20    2.5164
3        West  FUR-FU-10001487   48.8600         7      0.00   14.1694
4        West  OFF-AR-10002833    7.2800         4      0.00    1.9656
...       ...              ...       ...       ...       ...       ...
9989   Southn  FUR-BO-10001798  261.9600         2      0.00   41.9136
9990    South  FUR-CH-10000454  731.9400         3      0.00  219.5820
9991  Central  OFF-ST-10000615   18.1600         2      0.20    1.8160
9992  Central  FUR-FU-10004952  131.3760         6      0.60  -95.2476
9993  Central  OFF-PA-10003001    5.3440         1      0.20    1.8704

[9994 rows x 16 columns]>

In [5]:
dfdf = pd.read_csv("Dataset Superstore - BI Analyst - Order.csv")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country,City,State,Postal Code,Region,Product ID,Sales,Quantity,Discount,Profit
0,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,United States,Los Angeles,California,90036,West,OFF-LA-10000240,14.6200,2,0.00,6.8714
1,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,957.5775,5,0.45,-383.0310
2,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,22.3680,2,0.20,2.5164
3,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,United States,Los Angeles,California,90032,West,FUR-FU-10001487,48.8600,7,0.00,14.1694
4,7,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,United States,Los Angeles,California,90032,West,OFF-AR-10002833,7.2800,4,0.00,1.9656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,United States,Henderson,Kentucky,42420,Southn,FUR-BO-10001798,261.9600,2,0.00,41.9136
9990,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,731.9400,3,0.00,219.5820
9991,5492,CA-2017-164098,1/26/2017,1/27/2017,First Class,CG-12520,United States,Houston,Texas,77070,Central,OFF-ST-10000615,18.1600,2,0.20,1.8160
9992,6878,US-2015-123918,10/15/2015,10/15/2015,Same Day,CG-12520,United States,Dallas,Texas,75217,Central,FUR-FU-10004952,131.3760,6,0.60,-95.2476
9993,6879,US-2015-123918,10/15/2015,10/15/2015,Same Day,CG-12520,United States,Dallas,Texas,75217,Central,OFF-PA-10003001,5.3440,1,0.20,1.8704

In [7]:
%%sql Dataset Superstore - BI Analyst - Order.csv

SELECT SUM(jumlah_produk_terjual) as total_produk_terjual
FROM df;

Traceback (most recent call last):
  File "C:\Users\Adelia\AppData\Local\Programs\Python\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Adelia\AppData\Local\Programs\Python\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [8]:
df.describe

<bound method NDFrame.describe of       Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          3  CA-2016-138688   6/12/2016   6/16/2016    Second Class
1          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
2          5  US-2015-108966  10/11/2015  10/18/2015  Standard Class
3          6  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
4          7  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
9989       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class
9990       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class
9991    5492  CA-2017-164098   1/26/2017   1/27/2017     First Class
9992    6878  US-2015-123918  10/15/2015  10/15/2015        Same Day
9993    6879  US-2015-123918  10/15/2015  10/15/2015        Same Day

     Customer ID        Country             City       State  Postal Code  \
0       DV-13045  United States      Los Angeles  California        90036
1       SO-20335  United States  Fort Lauderdale     Florida        33311
2       SO-20335  United States  Fort Lauderdale     Florida        33311
3       BH-11710  United States      Los Angeles  California        90032
4       BH-11710  United States      Los Angeles  California        90032
...          ...            ...              ...         ...          ...
9989    CG-12520  United States        Henderson    Kentucky        42420
9990    CG-12520  United States        Henderson    Kentucky        42420
9991    CG-12520  United States          Houston       Texas        77070
9992    CG-12520  United States           Dallas       Texas        75217
9993    CG-12520  United States           Dallas       Texas        75217

       Region       Product ID     Sales  Quantity  Discount    Profit
0        West  OFF-LA-10000240   14.6200         2      0.00    6.8714
1       South  FUR-TA-10000577  957.5775         5      0.45 -383.0310
2       South  OFF-ST-10000760   22.3680         2      0.20    2.5164
3        West  FUR-FU-10001487   48.8600         7      0.00   14.1694
4        West  OFF-AR-10002833    7.2800         4      0.00    1.9656
...       ...              ...       ...       ...       ...       ...
9989   Southn  FUR-BO-10001798  261.9600         2      0.00   41.9136
9990    South  FUR-CH-10000454  731.9400         3      0.00  219.5820
9991  Central  OFF-ST-10000615   18.1600         2      0.20    1.8160
9992  Central  FUR-FU-10004952  131.3760         6      0.60  -95.2476
9993  Central  OFF-PA-10003001    5.3440         1      0.20    1.8704

[9994 rows x 16 columns]>

In [9]:
df.info

<bound method DataFrame.info of       Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          3  CA-2016-138688   6/12/2016   6/16/2016    Second Class
1          4  US-2015-108966  10/11/2015  10/18/2015  Standard Class
2          5  US-2015-108966  10/11/2015  10/18/2015  Standard Class
3          6  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
4          7  CA-2014-115812    6/9/2014   6/14/2014  Standard Class
...      ...             ...         ...         ...             ...
9989       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class
9990       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class
9991    5492  CA-2017-164098   1/26/2017   1/27/2017     First Class
9992    6878  US-2015-123918  10/15/2015  10/15/2015        Same Day
9993    6879  US-2015-123918  10/15/2015  10/15/2015        Same Day

     Customer ID        Country             City       State  Postal Code  \
0       DV-13045  United States      Los Angeles  California        90036
1       SO-20335  United States  Fort Lauderdale     Florida        33311
2       SO-20335  United States  Fort Lauderdale     Florida        33311
3       BH-11710  United States      Los Angeles  California        90032
4       BH-11710  United States      Los Angeles  California        90032
...          ...            ...              ...         ...          ...
9989    CG-12520  United States        Henderson    Kentucky        42420
9990    CG-12520  United States        Henderson    Kentucky        42420
9991    CG-12520  United States          Houston       Texas        77070
9992    CG-12520  United States           Dallas       Texas        75217
9993    CG-12520  United States           Dallas       Texas        75217

       Region       Product ID     Sales  Quantity  Discount    Profit
0        West  OFF-LA-10000240   14.6200         2      0.00    6.8714
1       South  FUR-TA-10000577  957.5775         5      0.45 -383.0310
2       South  OFF-ST-10000760   22.3680         2      0.20    2.5164
3        West  FUR-FU-10001487   48.8600         7      0.00   14.1694
4        West  OFF-AR-10002833    7.2800         4      0.00    1.9656
...       ...              ...       ...       ...       ...       ...
9989   Southn  FUR-BO-10001798  261.9600         2      0.00   41.9136
9990    South  FUR-CH-10000454  731.9400         3      0.00  219.5820
9991  Central  OFF-ST-10000615   18.1600         2      0.20    1.8160
9992  Central  FUR-FU-10004952  131.3760         6      0.60  -95.2476
9993  Central  OFF-PA-10003001    5.3440         1      0.20    1.8704

[9994 rows x 16 columns]>

In [18]:
%%sql

SELECT SUM(ROW Id) as total_produk_terjual
FROM df;

Traceback (most recent call last):
  File "C:\Users\Adelia\AppData\Local\Programs\Python\Python311\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Adelia\AppData\Local\Programs\Python\Python311\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [17]:
jumlah_produk = SELECT SUM(Row ID) as total_produk_terjual
FROM penjualan;

SyntaxError: invalid syntax (33452238.py, line 1)